<head>
  <link href="http://vjs.zencdn.net/6.2.5/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>

<body>
<a href="#" id="browseButton">Select files</a>
	<video controls src="http://localhost:8080/demo/video/sample.mp4" width="640" height="264"></video>
	<!--<video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
  poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
    <source src="MY_VIDEO.mp4" type='video/mp4'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>-->

  <script src="http://vjs.zencdn.net/6.2.5/video.js"></script>
  <script src="spark-md5.js"></script>
</body>

<script src="resumable.js"></script>
<script>
var r = new Resumable({
  target: 'http://localhost:8080/upload',
  simultaneousUploads: 3,
  chunkSize: 512*1024,
  forceChunkSize: true,
  preprocess : function(chunk) {
    		var reader = new FileReader();
    		reader.onloadend = function () {
    		    chunk.md5sum = SparkMD5.ArrayBuffer.hash(reader.result);
    		    console.log('Finished computing chunk#' + chunk.offset + '(starting at : ' + chunk.startByte +
    				        ', finishing at : ' + chunk.endByte + ')' + ' md5 : ' + chunk.md5sum);
	    	    chunk.preprocessFinished();
			};
			var func = (chunk.fileObj.file.slice ? 'slice' : (chunk.fileObj.file.mozSlice ? 'mozSlice' : (chunk.fileObj.file.webkitSlice ? 'webkitSlice' : 'slice')));
	        var bytes =  chunk.fileObj.file[func](chunk.startByte, chunk.endByte);
    		reader.readAsArrayBuffer(bytes);
    },
    query : function(file, chunk, isTest) {
    	return {'md5sum' : chunk.md5sum,
    	upload_token:'my_token'};
    }
});


r.assignBrowse(document.getElementById('browseButton'));

r.on('fileSuccess', function(file){
	var o=JSON.parse(httpGet("http://localhost:8080/fetchUpload/token/my_token/filename/"+file.file.name.substring(0,file.file.name.indexOf('.'))+"/"+file.file.type))
	var videoNode = document.querySelector('video')
	videoNode.src = "\\foobar\\" + o.fileId;
	console.debug('fileSuccess',file);
  });
r.on('fileProgress', function(file){
    console.debug('fileProgress', file);
  });
r.on('fileAdded', function(file, event){
    r.upload();
    console.debug('fileAdded', event);
  });
r.on('filesAdded', function(array){
    r.upload();
    console.debug('filesAdded', array);
  });
r.on('fileRetry', function(file){
    console.debug('fileRetry', file);
  });
r.on('fileError', function(file, message){
    console.debug('fileError', file, message);
  });
r.on('uploadStart', function(){
    console.debug('uploadStart');
  });
r.on('complete', function(){
    console.debug('complete');
  });
r.on('progress', function(){
    console.debug('progress');
  });
r.on('error', function(message, file){
    console.debug('error', message, file);
  });
r.on('pause', function(){
    console.debug('pause');
  });
r.on('cancel', function(){
    console.debug('cancel');
  });
function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
</script>